html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

/* first view */
#title {
    height: 5%;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    font-family: inherit;
}

form {
    position: absolute;
    width: 100%;
    height: 45%;
    display: table;
    margin-block-end: 0;
}

form>#dM,
form>#dL,
form>#sofG {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 33.33%;
}

#dM>label,
#dL>label,
#sofG>label {
    display: block;
}

#dM>button,
#dL>button {
    display: inline-block;
}

#sofG>input {
    text-align: center;
    width: 30px
}

form>#submit {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.titleN {
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    font-family: inherit;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 5%;
}

#notes {
    position: absolute;
    top: 55%;
    display: table;
    margin-block-end: 0;
    width: 100%;
    height: 45%;
}

#notes>#dMNotes,
#notes>#dLNotes,
#notes>#sofGNotes {
    text-align: center;
    display: table-cell;
    width: 33.33%;
    vertical-align: middle;
}

body,
form,
form>#submit,
#sofG>input,
#dM>button,
#dL>button,
#dM>label,
#dL>label,
#sofG>label,
form>#dM,
form>#dL,
form>#sofG,
#notes,
#notes>#dMNotes,
#notes>#dLNotes,
#notes>#sofGNotes,
#dMNotes>p,
#dLNotes>p,
#sofGNotes>p {
    font-size: inherit;
    font-family: inherit;
}

form>#dM,
#notes>#dMNotes {
    background-color: rgba(45%, 75%, 25%, 50%);
}

form>#dL,
#notes>#dLNotes {
    background-color: rgba(50%, 50%, 0%, 50%);
}

form>#sofG,
#notes>#sofGNotes {
    background-color: rgba(45%, 25%, 75%, 50%);
}

@media screen and (max-height: 521px) {

    #title,
    .titleN {
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) {
    html {
        font-size: 10.66px;
    }
}

@media screen and (min-height: 800px) {

    #title,
    .titleN {
        font-size: 36px;
    }
}

@media screen and (min-width: 850px) {
    html {
        font-size: 24px;
    }
}

@media screen and (min-height: 1200px) {

    #title,
    .titleN {
        font-size: 54px;
    }
}


@media screen and (min-width: 2050px) {
    html {
        font-size: 36px;
    }
}

@media screen and (min-height: 1600px) {

    #title,
    .titleN {
        font-size: 81px;
    }
}


@media screen and (min-width: 2720px) {
    html {
        font-size: 54px;
    }
}

/* 2nd view */
#cont2v {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    background-color: rgba(211, 211, 211);
}

#cont2v>#invis {
    visibility: hidden;
}

#cont2v button {
    margin-left: 5px;
}

#cont2v>#invis {
    visibility: hidden;
}

#cont2v div {
    margin-bottom: 3.5%;
}

#cont2v>#titles {
    margin-bottom: 0.5%;
}

#cont2v>#titles>#invButt {
    visibility: hidden;
    margin-left: 2.5%;
}

#cont2v>#titles>.impV {
    display: inline-block;
    width: 10%;
    margin-left: 3.5%;
    font-size: 150%;
    font-style: italic
}

#cont2v>#titles>.skills {
    display: inline-block;
    font-size: 150%;
    font-style: italic
}

#cont2v>div>.impV {
    display: inline-block;
    width: 2%;
    margin-left: 7%;
}

#cont2v>div>.skills {
    display: inline-block;
    width: 10%;
}

#cont2v button {
    margin-left: 7%;
    font-size: inherit;
}

#cont2v>#notes {
    font-size: 125%;
    margin: 0px;
}

@media screen and (min-aspect-ratio: 26/10) and (min-height: 1500px) {
    #cont2v {
        font-size: 60px;
    }
    #cont2v div {
        margin-bottom: 1.0%;
    }
    #cont2v > #titles {
        margin-bottom: 0.14%;
    }
}

@media screen and (min-aspect-ratio: 26/10) and (max-height: 1200px) {
    #cont2v {
        font-size: 49px;
    }
    #cont2v div {
        margin-bottom: 1.0%;
    }
    #cont2v > #titles {
        margin-bottom: 0.14%;
    }
}

@media screen and (min-aspect-ratio: 26/10) and (max-height: 900px) {
    #cont2v {
        font-size: 37px;
    }
    #cont2v div {
        margin-bottom: 1.0%;
    }
    #cont2v > #titles {
        margin-bottom: 0.14%;
    }
}

@media screen and (min-aspect-ratio: 26/10) and (max-height: 600px) {
    #cont2v {
        font-size: 25px;
    }
    #cont2v div {
        margin-bottom: 1.0%;
    }
    #cont2v > #titles {
        margin-bottom: 0.14%;
    }
}

@media screen and (min-aspect-ratio: 26/10) and (max-height: 400px) {
    #cont2v {
        font-size: 16.3px;
    }
    #cont2v div {
        margin-bottom: 1.0%;
    }
    #cont2v > #titles {
        margin-bottom: 0.14%;
    }
}
/*  */

@media screen and (max-aspect-ratio: 26/10) and (min-height: 1500px) {
    #cont2v {
        font-size: 54px;
    }
    #cont2v div {
        margin-bottom: 1.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.22%;
    }
}

@media screen and (max-aspect-ratio: 26/10) and (max-height: 1200px) {
    #cont2v {
        font-size: 43px;
    }
    #cont2v div {
        margin-bottom: 1.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.22%;
    }
}

@media screen and (max-aspect-ratio: 26/10) and (max-height: 900px) {
    #cont2v {
        font-size: 32px;
    }
    #cont2v div {
        margin-bottom: 1.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.22%;
    }
}

@media screen and (max-aspect-ratio: 26/10) and (max-height: 600px) {
    #cont2v {
        font-size: 22px;
    }
    #cont2v div {
        margin-bottom: 1.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.22%;
    }
}

@media screen and (max-aspect-ratio: 26/10) and (max-height: 400px) {
    #cont2v {
        font-size: 14px;
    }
    #cont2v div {
        margin-bottom: 1.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.22%;
    }
}

/*  */
@media screen and (max-aspect-ratio: 23/10) and (min-height: 1500px) {
    #cont2v {
        font-size: 37px;
    }
    #cont2v div {
        margin-bottom: 2.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.36%;
    }
}

@media screen and (max-aspect-ratio: 23/10) and (max-height: 1200px) {
    #cont2v {
        font-size: 30px;
    }
    #cont2v div {
        margin-bottom: 2.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.36%;
    }
}

@media screen and (max-aspect-ratio: 23/10) and (max-height: 900px) {
    #cont2v {
        font-size: 22px;
    }
    #cont2v div {
        margin-bottom: 2.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.36%;
    }
}

@media screen and (max-aspect-ratio: 23/10) and (max-height: 600px) {
    #cont2v {
        font-size: 15px;
    }
    #cont2v div {
        margin-bottom: 2.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.36%;
    }
}

@media screen and (max-aspect-ratio: 23/10) and (max-height: 400px) {
    #cont2v {
        font-size: 10px;
    }
    #cont2v div {
        margin-bottom: 2.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.36%;
    }
}

/* main - only height/font  */
@media screen and (min-height: 1500px) {
    #cont2v {
        font-size: 34px;
    }
}

@media screen and (min-height: 1200px) {
    #cont2v {
        font-size: 27px;
    }
}

@media screen and (max-height: 750px) {
    #cont2v {
        font-size: 17px;
    }
}

@media screen and (max-height: 500px) {
    #cont2v {
        font-size: 11px;
    }
}
/*  */
@media screen and (max-aspect-ratio: 17/10) and (min-height: 1500px) {
    #cont2v {
        font-size: 30px;
    }
    #cont2v div {
        margin-bottom: 4.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.64%;
    }
}

@media screen and (max-aspect-ratio: 17/10) and (max-height: 1200px) {
    #cont2v {
        font-size: 23px;
    }
    #cont2v div {
        margin-bottom: 4.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.64%;
    }
}

@media screen and (max-aspect-ratio: 17/10) and (max-height: 900px) {
    #cont2v {
        font-size: 17px;
    }
    #cont2v div {
        margin-bottom: 4.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.64%;
    }
}

@media screen and (max-aspect-ratio: 17/10) and (max-height: 600px) {
    #cont2v {
        font-size: 11px;
    }
    #cont2v div {
        margin-bottom: 4.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.64%;
    }
}

@media screen and (max-aspect-ratio: 17/10) and (max-height: 400px) {
    #cont2v {
        font-size: 8px;
    }
    #cont2v div {
        margin-bottom: 4.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.64%;
    }
}

/*  */

@media screen and (max-aspect-ratio: 14/10) and (min-height: 1500px) {
    #cont2v {
        font-size: 29px;
    }
    #cont2v div {
        margin-bottom: 5.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.79%;
    }
}

@media screen and (max-aspect-ratio: 14/10) and (max-height: 1200px) {
    #cont2v {
        font-size: 22px;
    }
    #cont2v div {
        margin-bottom: 5.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.79%;
    }
}

@media screen and (max-aspect-ratio: 14/10) and (max-height: 900px) {
    #cont2v {
        font-size: 16px;
    }
    #cont2v div {
        margin-bottom: 5.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.79%;
    }
}

@media screen and (max-aspect-ratio: 14/10) and (max-height: 600px) {
    #cont2v {
        font-size: 10.3px;
    }
    #cont2v div {
        margin-bottom: 5.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.79%;
    }
}

@media screen and (max-aspect-ratio: 14/10) and (max-height: 400px) {
    #cont2v {
        font-size: 7.5px;
    }
    #cont2v div {
        margin-bottom: 5.5%;
    }
    #cont2v > #titles {
        margin-bottom: 0.79%;
    }
}

/* 3rd view */
#div3v {
    position: absolute;
    top: 2%;
}

canvas {
    height: 100%;
    width: 100%;
}